<meta charset="UTF-8" />
<title>Portfolio</title>

<!-- CSS (load bootstrap from a CDN) -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
/>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<script defer src="/javascript/index.js"></script>
