<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header'); %>
  </head>
  <body>
    <header><%- include('../partials/content'); %></header>

    <main>
      <div class="contact-panel">
        <h2>Contact Information</h2>
        <p>Email: yabbasza@my.centennialcollege.ca</p>
        <p>Phone: +1 (123) 456-7890</p>
        <p>Address: 1234 My Street, My City, My Country, 12345</p>
      </div>
      <div class="contact-form-container">
        <h2>Send Me a Message</h2>
        <form id="contactForm" action="#" method="POST">
          <input
            type="text"
            name="firstName"
            placeholder="First Name"
            required
          />
          <input type="text" name="lastName" placeholder="Last Name" required />
          <input
            type="text"
            name="contactNumber"
            placeholder="Contact Number"
          />
          <input
            type="email"
            name="emailAddress"
            placeholder="Email Address"
            required
          />
          <textarea
            name="message"
            placeholder="Your Message"
            rows="4"
            required
          ></textarea>
          <button class="send" type="submit">Send Message</button>
        </form>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
    <script defer src="/javascript/index.js"></script>
  </body>
</html>
